.article {
   &-subtitle {
      padding-left: 2rem;
      border-bottom: 3px solid #2F80ED;
      padding-bottom: 1rem;
      font-size: 2rem;
   }
   &-content {

   }
   &-credits {
      font-size: 0.8rem;
      font-weight: 700;
      opacity: 0.8;
   }
   &-image {
      display: block;
      margin: auto;
      max-width: 100%;
   }
}
