.main-col {
    max-width: 75%;
    margin: auto;
}
.rest-col {
    width: 25%;
}
.footer {
    background-color: #4F4F4F;
    color: white;
}
.short-article {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
        text-decoration: none;
    }
    .title {
        &:hover {
            text-decoration: underline;
        }
    }
    .short-description {
        &:hover {
            text-decoration: underline;
        }
    }
    .details {
        text-align: center;
        background-color: #2F80ED;
        color: #FFF;
        text-decoration: none;

        .cost {
            font-weight: bold;
        }
        .date {
            font-weight: bold;
        }
    }
    .preview-photo {
        width: 100%;
        object-fit: cover;
        object-position: 0 10%;
        max-height: 15rem;
    }
    .preview-credits {
        margin-top: 0;
        font-size: 0.8rem;
        font-weight: 700;
        opacity: 0.8;
    }
}
@media only screen and (min-width: 400px) {
    .short-article {
        width: 95%;
    }
}
@media only screen and (min-width: 800px) {
    .short-article {
        width: 80%;
    }
}
@media only screen and (min-width: 1200px) {
    .short-article {
        width: 75%;
    }
}
